@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
}

#navbar {
    width: 100%;
    background-color: black;
}

#nav-image {
    width: 25%;
    padding: 10px 0 0 30px;
}

#nav-icons {
    padding-top: 20px ;
    width: 80%;
}

#nav-list {
    display: flex;
}

#nav-icons li {
    list-style: none;
}

#nav-icons a {
    color: white;
    text-decoration: none;
}


#nav-icons ul {
    display: flex;
    justify-content:space-evenly;
}