@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

#navbar {
    width: 100%;
    background-color: black;
}

#nav-image {
    width: 25%;
    padding: 10px 0 0 30px;
}

#nav-icons {
    padding-top: 20px;
    width: 80%;
}

#nav-list {
    display: flex;
}

#nav-icons li {
    padding: 5px;
    border-radius: 8px;
    list-style: none;
}

#nav-icons a {
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
}

.toggle {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#join-div {
    width: 150px ;
    margin-right: 30px;
}

#nav-icons ul {
    display: flex;
    justify-content: space-evenly;
}

.active {
    background: linear-gradient(135deg, #efa937, #b34806, #FF7A00);
}

#banner-section {
    height: 700px;
    width: 100%;
    background-image: url(banner.png);
    background-color: blue;
}

#header-btn {
    display: flex;
    gap: 30px;
    position: relative;
    top: 400px;
    left: 565px;
}

.btn {
    height: 40px;
    width: 170px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-1 {
    border: 0;
    background-color: #d74f00;
}

#btn-2 {
    border: 2px solid transparent;
    background-color: black;

    background-image:
        linear-gradient(#000, #000),
        linear-gradient(135deg, #d74f00, #67E8F9);

    background-origin: border-box;
    background-clip: padding-box, border-box;
}